@{

}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>Logovanje</h2>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Lozinka</label>
                    <input type="password" class="form-control" name="lozinka" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Uloguj se</button>
            </form>
        </div>
    </div>
</div>
